.c9/*
.smf/*
.npm
.tmp
output/Android/*
output/iOS/*
output/.tmp
output/publish-error.log
plugin/Android/*
plugin/iOS/*
!output/Android/README.md
!output/iOS/README.md
!plugin/Android/README.md
!plugin/iOS/README.md
scripts/node_modules/@smartface
scripts/node_modules/sf-core
scripts/node_modules/js-base
scripts/node_modules/moment
scripts/themes