.c9
.smf
.npm
.tmp
.pm2/
output/Android/*
output/iOS/*
output/.tmp
output/publish-error.log
plugin/Android/*
plugin/iOS/*
scripts/node_modules/*
scripts/node_modules/library/
!output/Android/README.md
!output/iOS/README.md
!plugin/Android/README.md
!plugin/iOS/README.md
scripts/ui
assets/jet
.templates
contxjs
