.c9
.smf
.npm
.tmp
output/Android/*
output/iOS/*
output/.tmp
output/publish-error.log
plugin/Android/*
plugin/iOS/*
scripts/node_modules/*
!scripts/node_modules/library/package.json
!scripts/node_modules/library/styler-builder.js
!output/Android/README.md
!output/iOS/README.md
!plugin/Android/README.md
!plugin/iOS/README.md
config/Other\ Fonts
.ui/newPage001.pgx
scripts/ui
scripts/themes/*
assets/jet