[{
    "deviceName": "iOSDevice",      // Name of your device to be shown in dropdown
    "os": "iOS",
    "screen": {
        "height": {
            "px": 1334              // Should be at least 480
        },
        "width": {
            "px": 750               // Should be at least 320
        },
        "ppi": 326,
        "densityRatio": 2           // Pixel density ratio, depends on device ppi
    }
},{
    "deviceName": "androidDevice",
    "os": "Android",
    "screen": {
        "height": {
            "px": 2560
        },
        "width": {
            "px": 1440
        },
        "ppi": 480,
        "densityRatio": 3           // On Android, approximately [device ppi / 160]
    }
}]